.telegram-settings-container {
    padding-top: 10px;
}

.setting-item.setting-item-heading {
    margin-top: 32px;
}

.telegram-channel-item {
    border: 1px solid var(--background-modifier-border);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--setting-items-background);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.setting-item-control.input {
    width: 100%;
}

.telegram-channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--background-modifier-border);
}