.telegram-settings-container {
    color: var(--text-accent);
    border-top: none;
    padding-top: 0;
}

.setting-item.setting-item-heading {
    margin-top: 32px;
}

.telegram-settings-container {
    padding-top: 10px;
}